<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello WorkingOnDocs!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
      <div>
        <%= "#{inspect(Enum.map(:erlang.memory(), fn {k,v} -> {k, to_string(v/1000000) <> "Mb"} end))}" %>
      </div>
      <main role="main">
        <%= render WorkingOnDocsWeb.TodoView, "index.html", assigns %>
      </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
